@import "compass/reset";
@import "compass/css3";


.header1 {
		background: #464747;
		height: 44px;
		color: white;
        padding: 10px 34px 10px 34px;

		li {
			display: inline-block;
			
			
			padding: 6px 0;
			}	
}	

.header2 {
		background: #202020;
		height: 44px;
		color: white;
		li {
			display: inline-block; 
			margin-left: 50px;
			margin-right: 34px;
			padding: 14px 0;
			}	
}

.ss{
	padding: 20px 0;
}

.icononright{
	color: white;
	font-size: 10px;
	background-color: orange;
	width: 50px;
	height: 30px;
	border: none;
	border-radius: 3px;
}

.upload{
	margin:10px 30px 10px 20px; 
	border: none;
	float:right;
}

.create{
	/*font-family: fantasy;*/
	font-size: 50px;
	/* display: inline-block; */
	color: white;
	text-align: center;
}

.small1{
	/*font-family: fantasy;*/
	font-size: 20px;
	/* display: inline-block; */
	color: white;
	margin-top: 20px;
	text-align: center;

}

.thanks{
	color: white;
	font-size: 20px;
	border: 1px solid white;
	background-color: transparent;
	width: 150px;
	height: 60px;
	border-radius: 5px;
}

.centerbutton{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.createnow{
	color: white;
	font-size: 20px;
	border: 0px;
	background-color: rgb(34, 86, 181);
	width: 150px;
	height: 60px;
	margin-top: 20px;
	border-radius: 5px;
}

.line1{
	border-bottom: 1px solid #bebebe;
	bottom: 45%;
	left: 633px;
	position: relative;
	width: 7%;
	margin-top: 15px;
}


.picincenter{
	text-align: center;
	position: relative;
}

.footer{
	background-color: #464747;
	margin-top: -20px;
}

.small2{
	/*font-family: fantasy;*/
	font-size: 20px;
	/* display: inline-block; */
	color: white;
	margin-top: 20px;
	text-align: center;
	padding: 30px;

}

.footer1 {
		background: transparent;
		height: 105px;
		color: white;
		margin-top: 20px;
		li {
			display: inline-block;
			margin-left: 113px;
			margin-right: 34px;
			padding: 30px 0;
			}	
}

.footer2 {
		background: transparent;
		height: 44px;
		color: white;
		li {
			display: inline-block;
			margin-left: 232px;
			margin-right: 34px;
			padding: 30px 0;
			}	
}

.footbutton{
	color: #2E9FDE;
	font-size: 15px;
	font-family: sans-serif;
	border: 1px solid white;
	background-color: white;
	width: 135px;
	height: 45px;
	position: relative;
	margin-bottom: 43px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 29px;
	margin-left: 605px;
	border-radius: 5px;
	
}

