/* line 5, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
.header1 {
  background: #464747;
  height: 44px;
  color: white;
  padding: 10px 34px 10px 34px;
}
/* line 11, ../sass/style.scss */
.header1 li {
  display: inline-block;
  padding: 6px 0;
}

/* line 19, ../sass/style.scss */
.header2 {
  background: #202020;
  height: 44px;
  color: white;
}
/* line 23, ../sass/style.scss */
.header2 li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 34px;
  padding: 14px 0;
}

/* line 31, ../sass/style.scss */
.ss {
  padding: 20px 0;
}

/* line 35, ../sass/style.scss */
.icononright {
  color: white;
  font-size: 10px;
  background-color: orange;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 3px;
}

/* line 45, ../sass/style.scss */
.upload {
  margin: 10px 30px 10px 20px;
  border: none;
  float: right;
}

/* line 51, ../sass/style.scss */
.create {
  /*font-family: fantasy;*/
  font-size: 50px;
  /* display: inline-block; */
  color: white;
  text-align: center;
}

/* line 59, ../sass/style.scss */
.small1 {
  /*font-family: fantasy;*/
  font-size: 20px;
  /* display: inline-block; */
  color: white;
  margin-top: 20px;
  text-align: center;
}

/* line 69, ../sass/style.scss */
.thanks {
  color: white;
  font-size: 20px;
  border: 1px solid white;
  background-color: transparent;
  width: 150px;
  height: 60px;
  border-radius: 5px;
}

/* line 79, ../sass/style.scss */
.centerbutton {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 85, ../sass/style.scss */
.createnow {
  color: white;
  font-size: 20px;
  border: 0px;
  background-color: #2256b5;
  width: 150px;
  height: 60px;
  margin-top: 20px;
  border-radius: 5px;
}

/* line 96, ../sass/style.scss */
.line1 {
  border-bottom: 1px solid #bebebe;
  bottom: 45%;
  left: 633px;
  position: relative;
  width: 7%;
  margin-top: 15px;
}

/* line 106, ../sass/style.scss */
.picincenter {
  text-align: center;
  position: relative;
}

/* line 111, ../sass/style.scss */
.footer {
  background-color: #464747;
  margin-top: -20px;
}

/* line 116, ../sass/style.scss */
.small2 {
  /*font-family: fantasy;*/
  font-size: 20px;
  /* display: inline-block; */
  color: white;
  margin-top: 20px;
  text-align: center;
  padding: 30px;
}

/* line 127, ../sass/style.scss */
.footer1 {
  background: transparent;
  height: 105px;
  color: white;
  margin-top: 20px;
}
/* line 132, ../sass/style.scss */
.footer1 li {
  display: inline-block;
  margin-left: 113px;
  margin-right: 34px;
  padding: 30px 0;
}

/* line 140, ../sass/style.scss */
.footer2 {
  background: transparent;
  height: 44px;
  color: white;
}
/* line 144, ../sass/style.scss */
.footer2 li {
  display: inline-block;
  margin-left: 232px;
  margin-right: 34px;
  padding: 30px 0;
}

/* line 152, ../sass/style.scss */
.footbutton {
  color: #2E9FDE;
  font-size: 15px;
  font-family: sans-serif;
  border: 1px solid white;
  background-color: white;
  width: 135px;
  height: 45px;
  position: relative;
  margin-bottom: 43px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 29px;
  margin-left: 605px;
  border-radius: 5px;
}
